.camera-container {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 670px;
  position: fixed;
  right: 0;
  z-index: 9999;
}

.camera-popover{
    max-width:700px;
    height:420px;
    z-index: 9999;
    margin-right: 100px !important;
}

.popover.top{
    margin-left: -25px;
}
.popover.top > .arrow {
    margin-left: 14px;
}

.camera-launcher {
  position: fixed;
  top: -10px;
  right: -5px;
  background-color: #ff0000;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}

.button-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.button-icon {
    margin-left: 0px;
}
